# Compiled nonsense that does not belong in *source* control
**/build
**/bin
**/.gradle
**/out
**/classes

# Run stuff
**/minecraft
**/run
**/logs

# IDE nonsense that could go in source control but really shouldn't
.classpath
.project
.metadata
.settings
*.launch
*.iml
.idea
*.ipr
*.iws

# Sekrit files
private.properties
private.gradle

# Files from bad operating systems :^)
Thumbs.db
.DS_Store
local.properties
.directory
modules/cotton-cauldron/gradle/wrapper/gradle-wrapper.jar
modules/cotton-cauldron/gradle/wrapper/gradle-wrapper.properties
modules/cotton-cauldron/gradlew
modules/cotton-cauldron/gradlew.bat
modules/cotton-commons/gradle/wrapper/gradle-wrapper.jar
modules/cotton-commons/gradle/wrapper/gradle-wrapper.properties
modules/cotton-commons/gradlew
modules/cotton-commons/gradlew.bat
modules/cotton-config/gradle/wrapper/gradle-wrapper.jar
modules/cotton-config/gradle/wrapper/gradle-wrapper.properties
modules/cotton-config/gradlew
modules/cotton-config/gradlew.bat
modules/cotton-datapack/gradle/wrapper/gradle-wrapper.jar
modules/cotton-datapack/gradle/wrapper/gradle-wrapper.properties
modules/cotton-datapack/gradlew
modules/cotton-datapack/gradlew.bat
modules/cotton-logging/gradle/wrapper/gradle-wrapper.jar
modules/cotton-logging/gradle/wrapper/gradle-wrapper.properties
modules/cotton-logging/gradlew
modules/cotton-logging/gradlew.bat
modules/cotton-player-events/gradle/wrapper/gradle-wrapper.jar
modules/cotton-player-events/gradle/wrapper/gradle-wrapper.properties
modules/cotton-player-events/gradlew
modules/cotton-player-events/gradlew.bat
