# Private

.gradle
private.gradle


# IDE stuff

.idea
.classpath
.project
.settings

# Logs

logs

# Build bits

run
bin
build
out
classes

# Naughty filesystems
Thumbs.db
.DS_Store
local.properties
.directory